* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #dfdfdf;
  font-family: 'Roboto', serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #6b6b6b46;
}

.category-btn:hover span {
  color: rgb(223, 223, 223) !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 300px;
  background: none;
  color: #dfdfdf;
}

.category-btn {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 3.5px 0px;
  border-radius: 10px;
  color: #dfdfdf;
  transition: .3s ease;
}

.stat-box {
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(114, 114, 114, 0.3);
  color: #dfdfdf;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width:800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar {
    width: 150px;
  }
}